/* Define your theme modifications inside next mixin */
@mixin com_company_itpearls-havana-ext {
    .widget-border-line {
            border: 5px solid #7a7b7e;
            border-radius: 20px;
    }

    .v-caption-label {
        font-weight: bold;
        white-space: pre-line;
        text-decoration: underline;
    }

    .c-fglayout-slot.c-full-height-widget .v-caption-label .v-captiontext {
        line-height: 15px;
    }
}
