.gradle
.studio
*.ipr
*.iml
*.iws
*.log
build/*
postgre_tmp_database/*
deploy/*
modules/*/build/*
.idea/*
out
test-run
sql/hr.it-pearls.ru.sql
sql/basebackup_new.tar.gz
sql/sql/itpearls.sql
backupbase.log
