<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="IT-Pearls" transaction-type="RESOURCE_LOCAL">

        <class>com.company.itpearls.entity.Country</class>
        <class>com.company.itpearls.entity.Position</class>
        <class>com.company.itpearls.entity.Person</class>
        <class>com.company.itpearls.entity.City</class>
        <class>com.company.itpearls.entity.Region</class>
        <class>com.company.itpearls.entity.Ownershup</class>
        <class>com.company.itpearls.entity.Company</class>
        <class>com.company.itpearls.entity.CompanyDepartament</class>
        <class>com.company.itpearls.entity.Specialisation</class>
        <class>com.company.itpearls.entity.OpenPosition</class>
        <class>com.company.itpearls.entity.Project</class>
        <class>com.company.itpearls.entity.CompanyGroup</class>
        <class>com.company.itpearls.entity.Iteraction</class>
        <class>com.company.itpearls.entity.JobCandidate</class>
        <class>com.company.itpearls.entity.IteractionList</class>
        <class>com.company.itpearls.entity.SocialNetworkURLs</class>
        <class>com.company.itpearls.entity.SkillTree</class>
        <class>com.company.itpearls.entity.JobHistory</class>
        <class>com.company.itpearls.entity.CandidateCV</class>
        <class>com.company.itpearls.entity.Setup</class>
        <class>com.company.itpearls.entity.RecrutiesTasks</class>
        <class>com.company.itpearls.entity.RecruitingRecrutiers</class>
        <class>com.company.itpearls.entity.SomeFiles</class>
        <class>com.company.itpearls.entity.FileType</class>
        <class>com.company.itpearls.entity.SocialNetworkType</class>
        <class>com.company.itpearls.entity.SubscribeCandidateAction</class>
        <class>com.company.itpearls.entity.ItearctionRequirements</class>
        <class>com.company.itpearls.entity.JobCandidatePositionLists</class>
        <class>com.company.itpearls.entity.LaborAgeementType</class>
        <class>com.company.itpearls.entity.LaborAgreement</class>
        <class>com.company.itpearls.entity.PossibleNames</class>
    </persistence-unit>
</persistence>
