/* Override global theme constants or define new ones here */
.open-position-job-recruitier {color: blue;font-weight: normal}
.open-position-empty-recruitier {color: green;font-weight: normal}
.open-position-normal-recruitier {color: black;font-weight: normal}
.recrutier-tasks-gray {color: grey; text-decoration: line-through}
.recrutier-tasks-normal {color: black}

