/* Define your theme modifications inside next mixin */
@mixin com_company_itpearls-hover-ext {
.open-position-pic-center {
    text-align: center;
    margin: 0 auto;
}

.open-position-pic-center-large {
    font-size: large;
    text-align: center;
    margin: 0 auto;
}

.open-position-pic-center-large-green {
    color: green;
    text-align: center;
    text-color: green;
    font-size: large;
    margin: 0 auto;
}

.open-position-pic-center-large-yellow {
    color: orange;
    text-align: center;
     text-color: orange;
     font-size: large;
     margin: 0 auto;
}

.open-position-pic-center-large-red {
    color: red;
    text-align: center;
    text-color: red;
    font-size: large;
    margin: 0 auto;
}

}