/* Override global theme constants or define new ones here */
.open-position-job-recruitier {color: blue;font-weight: normal}
.open-position-empty-recruitier {color: green;font-weight: normal}
.open-position-normal-recruitier {color: black;font-weight: normal}
