<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <p><b>Взаимодействие с кандидатом <i>${IteractionList.candidate.fullName}</i> от ${IteractionList.dateIteraction?date}</b></p>
</head>
</html>
<body>
  <p>Вакансия:       <i>${IteractionList.vacancy.vacansyName}</i></p>
  <p>Проект:         <i>${IteractionList.project.projectName}</i></p>
  <p>Взаимодействие: <i>${IteractionList.iteractionType.iterationName}</i></p>
  <p>Рекрутер:       <i>${IteractionList.recrutier.name}</i></p>
  <p>Комментарии:    <i>${IteractionList.comment}</i></p>
</body>
</html>
