/* Override global theme constants or define new ones here */
$v-textfield-border-radius: 6px;
$v-border-radius: 6px;
$v-font-size: 14px;

$cuba-app-menubar-padding-top: 8px;
$cuba-app-menubar-padding-bottom: 8px;
$cuba-menubar-submenu-padding: 1px;

